{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Login
{% endblock title %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-12">
			<br>
			<form method="post" action=".">
				{% csrf_token %}
				<div class="form-group">
					<label for="username">User</label>
					<input type="text" class="form-control" id="username" name="username">
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" name="password">
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</div>
{% endblock content %}