{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

	<title>Resume - Jiasheng Zhou</title>
	<style type="text/css">
		code{white-space: pre-wrap;}
		span.smallcaps{font-variant: smallcaps;}
		span.underline{text-decoration: underline;}
		div.column{display: inline-block; vertical-align: top; width:50%;}
	</style>

	<link rel="stylesheet" href="{% static 'resume/resume.css' %}">
	  <!--[if lt IE 9]>
	    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	  <![endif]-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
</head>

<body>
	<div class="heading">
		<h1 id="title">Jiasheng Zhou</h1>
		<blockquote>
			<p>New York, New York <br />
				646 684 9782 <br />
				astrognss@gmail.com
			</p>
		</blockquote>
	</div>

	<div class="divider">
		<h2 id="experience">Experience </h2>
	</div>

	<h3 id="senior-software-engineer-unisoc">Senior Software Engineer</h3>
	<h4 id="Dec-2017---May-2019">Dec 2017 - May 2019</h4>
	<ul>
		<li>design, implementation, bug fix and optimization of GNSS engine to achieve cm accuracy at best</li>
		<li>develop tools with Python, numpy, matplotlib to tune GNSS performance</li>
		<li>add features, bug fix to HAL module, so library of Android</li>
		<li>technical documents writing and demonstration</li>
	</ul>

	<h3 id="firmware-software-engineer">Firmware Software Engineer</h3>
	<h4 id="May-2016---Dec-2017">May 2016 - Dec 2017</h4>
	<ul>
		<li>add features, bug fix to multithreaded embedded GNSS application, ARM core, within eCos system</li>
		<li>building multithreaded embedded application, DSP</li>
		<li>implement, build a library with Android NDK, Makefile</li>
		<li>GUI tools with MFC, Windows</li>
	</ul>

	<h3 id="junior-software-engineer">Junior Software Engineer</h3>
	<h4 id="Jun-2015---May-2016">Jun 2015 - May 2016</h4>
	<ul>
		<li>learned source control management with Git, bug tracking system, technical report</li>
		<li>add features, bug fix to multi-threaded GNSS application with C, with knowledge of synchronization, signal, non-blocking/blocking IO, DMA processing</li>
	</ul>

	<div class="divider">
		<h2 id="education">Education</h2>
	</div>

	<h3 id="master-of-astrometry">Master of Astrometry - University of Chinese Academy of Sciences</h3>
	<h4 id="Sep-2012---Jun-2015">Sep 2012 - Jun 2015</h4>

	<h3 id="bs-of-surveying-engineer">Bachelor of Surveying Engineering - China University of Geosciences (Beijing)</h3>
	<h4 id="Sep-2008---Jun-2012">Sep 2008 - Jun 2012</h4>
	<ul>
		<br />
	</ul>

	<div class="divider">
		<h2 id="technical-skills">Technical Skills </h2>
	</div>
	<div class="col left">
		<h3 id="programming">Programming</h3>
		<p> C++ <br /> Python <br /> Java<br /> </p>
	</div>

	<div class="col center">
		<h3 id="Database&SCM">Database&amp;SCM</h3>
		<p> MySQL <br /> Git <br /> SVN <br />
	</div>

	<div class="col right">
		<h3 id="platform">Platform</h3>
		<p>Windows <br /> Ubuntu<br /> Centos<br />
	</div>

</body>
</html>