{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% block content %}

<div class="container">
	<div class="row">
		<h1 class="col-12 mt-4 mb-4"> {{ article.title }} </h1>

		<div class="col-12 alert alert-success">
			Author : {{ article.author }}
			{% if user.is_authenticated %}
			. <a href="#" onclick="confirm_delete()" >Delete</a>
			. <a href="{% url 'article:article_update' article.id %}">Edit</a>
			{% endif %}
		</div>

		<div class="col-12">
			<p> {{ article.body|safe }}  </p>
		</div>
	</div>
</div>

<script>
	function confirm_delete() {
		layer.open({
			title: "Confirm to delete",
			content: "Are yor sure to delete this article?",
			yes:function(index, layero) {
				location.href='{% url "article:article_delete" article.id %}'
			},
		})
	}
</script>
{% endblock content %}